body
{
    text-align: left;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(49, 49, 49);
    margin: 0;
    padding: 0;

}
#cabecera
{
    background: blueviolet;
    color: whitesmoke;
    margin: 0 auto;
    padding: 1em;
    width: 70%;
    -webkit-box-shadow: 13px 3px 2px -3px rgba(0,0,0,1);
    -moz-box-shadow: 13px 3px 2px -3px rgba(0,0,0,1);
    box-shadow: 13px 3px 2px -3px rgba(0,0,0,1);
}
#container
{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid rgb(49, 49, 49);
    margin: 0 auto;
    -webkit-box-shadow: 13px 11px 2px -3px rgba(0,0,0,1);
    -moz-box-shadow: 13px 11px 2px -3px rgba(0,0,0,1);
    box-shadow: 13px 11px 2px -3px rgba(0,0,0,1);
}
#container h1
{
    font-size: 20px;
}
#post
{
    padding: 1em;
}